{% extends 'layout.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm"><h1>Welcome to Message app on the CLONED! env</h1>
        <p>You can leave a message either as an anonymous user or with your name</p></div>
    
    
    <div class="col-sm"></div>
</div>



  <h2><a href="{{ url_for('post_message') }}">Leave a message<i class="fas fa-chevron-right"></i></a></h2>


<div class= "messages">
    <ul>
       {% for x in item.Items %}
    <div class= row>
        <div class="col-sm"></div>
        <div class="col-sm">
            <li  class="message">     
                <p class="user">{{ x.User['S'] }}</p>
                <p class=contente">{{ x.Comments['S'] }}</p>    
           </li>
        </div>
        <div class="col-sm"></div>
    </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}
